*{
    margin: 0;
    padding: 0;
}

body{
    background: #131315;
    font-family: 'Times New Roman', Times, serif;
}

.login-box{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background:#242026;
    box-shadow: 0 15px 25px rgba(143, 124,236,0.7);
    border-radius: 10px;
}

.login-box h2{
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.user-box{
    width:  280px;
    position: relative;
}

.label{
    position: absolute;
    left: 10px;
    top: 14px;
    transition: all 0.2s;
    padding: 0 2px;
    z-index: 1;
    color: #b3b3b3;
}

.text-input{
    padding: 0.8rem;
    width: 100%;
    height: 100%;
    border: 2px solid #2f2c45;
    border-radius: 5px;
    background: #272530;
    font-size: 18px;
    outline: none;
    transition: all 0.3s;
    color: #fff;
}

.label::before{
    content: "";
    height: 5px;
    background: #272530;
    position: absolute;
    left: 0px;
    top: 10px;
    width: 100%;
    z-index: -1;
}

.text-input:focus{
    border: 2px solid #7e4ccb;
}

.text-input:focus + .label, .filled{
    top: -100xp;
    color: #7e4ccb;
    font-size: 14px;
}

.text-input::placeholder{
    font-size: 16px;
    opacity: 0;
    transition: all 0.3s;
}

.text-input:focus::placeholder{
    opacity: 1;
}
