<nav class="navbar navbar-expand-sm bg-light justify-content-center">
    <div>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link btn" routerLink="Paciente">Pacientes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Citas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Expedientes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Recetas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Reportes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Consultas</a>
        </li>
      </ul>
    </div>
</nav>
<router-outlet></router-outlet>
  
